<html>
  <head>
    <title>index of svb project</title>
  </head>
  <body>
    <h1>Operations</h1>
    <form action="/sailors/add" method="GET">
      <label>Sailor Name</label>
      <input name="sailor-name" />
      <label>Sailor Experience</label>
      <input name="sailor-experience" />
      <label>Sailor Age</label>
      <input name="sailor-age" />
      <input type="submit" value="Adding a sailor into the table" />
    </form>
    <head>
      <html></html>
    </head>
  </body>
</html>
